@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
span,
p,
a,
ul,
li,
button {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

button,
a {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  vertical-align: middle;
  color: #000000EB;
  letter-spacing: 0.8px;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.container.hero_block_bottom {
  margin-top: -27px;
  max-width: 1244px;
  width: 100%;
  height: 348px;
  border-radius: 32px;
  background: url(/assets/img/bg_block_bottom_hero.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 10;
}

.container.personal_account_logist {
  margin-top: 100px;
  max-width: 100%;
  background: url(/assets/img/personal_account_logist_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container.personal_account_driver {
  max-width: 100%;
  width: 100%;
  background-color: #EDF2F7;
}
.container.personal_account_buyer {
  max-width: 100%;
  width: 100%;
  background-color: #EDF2F7;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}


/* ===== block_hero ===== */
.hero_block_wrapp {
  height: 495px;
  background: url(/assets/img/bg_block_hero.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

.hero_block_top_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.hero_block_item_right {
  margin-top: 35px;
  width: 41%;
}

.hero_block_item_left {
  margin-top: 105px;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_block_item_left h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 122%;
  color: #000000;
}

.hero_block_item_left p {
  width: 550px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.hero_block_item_btn {
  padding-top: 48px;

  max-width: 438px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_block_item_btn img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  padding-right: 10px;
}

.hero_block_item_btn_provider {
  padding-left: 26px;
  max-width: 240px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #171923;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.hero_block_item_btn_application {
  background: transparent;
  border: 1px solid #171923;
  max-width: 182px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171923;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.hero_block_bottom_container {
  display: flex;
  justify-content: space-between;
  padding: 25px 42px;
}

.hero_block_bottom_item_left {
  max-width: 575px;
  width: 100%;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_block_bottom_item_left h2 {
  background-image: linear-gradient(90deg, #171923 0%, #106094 60.65%, #171923 95.19%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 9px;
}



.hero_block_bottom_item_left p {
  padding-top: 67px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #171923;
}

.hero_block_bottom_item_left span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #4A5568;
}

.hero_block_bottom_item_left span.about_project_top_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.hero_block_bottom_item_left span.about_project_top_text img {
  padding-right: 5px;
}

.hero_block_bottom_item_left button {
  margin-top: 24px;
  max-width: 193px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  background-color: #171923;
  border-radius: 12px;
}

.hero_block_bottom_item_right {
  max-width: 475px;
  width: 100%;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_block_bottom_item_right {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.hero_block_bottom_item_right_list {
  width: 100%;
  display: flex;
}

.hero_block_bottom_item_right_list ul {
  padding-top: 41px;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 12px;
  width: 100%;
}

.hero_block_bottom_item_right_list ul li {
  max-width: 232.5px;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  background-color: #EDF2F7;
}

.hero_block_bottom_item_right_list ul li a {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #171923;
  padding: 4px;
}

.hero_block_bottom_item_right_list ul li a img {
  padding-right: 12px;
  max-width: 40px;
  width: 100%;
  max-height: 40px;
  height: auto;
  border-radius: 8px;
}


/* ===== personal_account_provider ===== */

.personal_account_provider_wrapp {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal_account_provider_title {
  max-width: 550px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 42px;
}

.personal_account_provider_title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
}

.personal_account_provider_title p {
  padding-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #1A202C;
}

.provider_list_wrapp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.provider_list_left {
  max-width: 860px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}

.provider_list_left_item {
  display: flex;
  max-width: 276px;
  width: 100%;
  height: 116px;
  background-color: #EDF2F733;
  border: 1px solid #EDF2F7;
  border-radius: 16px;
}

.provider_list_left_item_img {
  margin: 8px;
  max-width: 40px;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background-color: #EDF2F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.provider_list_left_item_img img {
  display: flex;
}

.provider_list_left_item_text {
  max-width: 192px;
  width: 100%;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.provider_list_left_item_text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1A202C;
}

.provider_list_left_item_text span {
  padding-top: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #4A5568;
}

.provider_list_right {
  max-width: 276px;
  width: 100%;
  height: 248px;
  display: flex;

}

.provider_list_right_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-color: #EDF2F733;
  border: 1px solid #EDF2F7;
}

.provider_list_right_item img {
  max-width: 260px;
  width: 100%;
  height: 160px;
  display: flex;
}

.provider_list_right_item p {
  padding-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;

}

.provider_list_bottom_block {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 64px;
  background: url(/assets/img/provider_list_bottom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.provider_list_bottom_block p {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
}

.provider_list_bottom_provider_item {
  margin-left: 20px;
  position: relative;
  max-width: 491px;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  background: url(/assets/img/provider_list_bottom_provider_item.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.provider_list_bottom_provider_item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
  padding-left: 12px;
}

.provider_list_bottom_provider_item img {
  padding-right: 6px;
}



.provider_list_bottom_block button {
  max-width: 235px;
  width: 100%;
  height: 48px;
  background-color: #E2E8F0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2D3748;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  border-radius: 12px;
  margin-left: 70px;
}

/* ===== personal_account_logist ===== */
.personal_account_logist_wrapp {
  max-width: 1160px;
  width: 100%;
  /* height: 594px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 55px;
}





.personal_account_logist_column_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logist_left_column {
  max-width: 564px;
  width: 100%;
  display: flex;
}

.logist_left_column ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logist_left_column ul li {
  border-radius: 16px;
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF66;
  border: 1px solid #EDF2F7;
  backdrop-filter: blur(8px);
  margin-bottom: 20px;
}

.logist_left_column ul li p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1A202C;
  padding-left: 12px;
}

.logist_img_left_block {
  max-width: 54px;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171923;
  border-radius: 12px;

}

.logist_right_column_list {
  position: relative;
  width: 100%;
  height: 224px;
  /* background: url(/assets/img/personal_account_logist_bg_right.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  background-color: #171923;
  background-image: linear-gradient(281.64deg, #171923 0%, #1B1B1E 100%);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logist_right_column_list::after {
  content: '';
  position: absolute;
  height: 27px;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/img/logist_right_column_list_vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 0;
}

.logist_right_column {
  max-width: 564px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logist_right_column p {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1A202C;
}

.logist_right_column_list {
  margin-top: 24px;
}

.logist_right_column_list ul {
  margin-top: 36px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logist_right_column_list ul li {
  max-width: 118px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logist_right_column_list ul li p {
  margin-top: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

.logist_img_right_block {
  max-width: 40px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
}

.logist_right_column_button_wrapp {
  max-width: 548px;
  width: 100%;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 8px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.logist_right_column_button_wrapp p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #171923;
  padding-left: 16px;
}

.logist_right_column_button_wrapp button {
  max-width: 175px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  background-color: #171923;
  color: #FFFFFF;
  margin-right: 8px;
}

.logist_btn_dawn_wrapp {
  margin: 0 auto;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logist_btn_dawn_arrow {
  max-width: 48px;
  width: 100%;
  height: 48px;
  background: url(/assets/img/arrow_dawn_icon.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.logist_btn_dawn_wrapp a {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2D3748;
}


.personal_account_driver_wrapp {
  padding-top: 100px;
  max-width: 1160px;
  width: 100%;
  /* height: 594px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.personal_account_driver_column_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.driver_left_column {
  max-width: 524px;
  background-color: #FFFFFF;

  border-radius: 32px;
}

.driver_left_title {
  padding: 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.driver_left_column p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1A202C;
  padding-top: 12px;
}

.driver_download_div {
  margin-top: 56px;
  max-width: 484px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.driver_download_div a {
  width: 48px;
  height: 48px;
  display: flex;
}

.driver_download_div button {
  margin-top: 56px;
  max-width: 372px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171923;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
  border-radius: 12px;
}

.driver_btn_dawn_wrapp {
  margin: 0 auto;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.driver_right_column {
  max-width: 604px;
  width: 100%;
  height: 256px;
  display: flex;
  justify-content: space-between;
  border-radius: 32px;
  background-color: #FFFFFF;

}

.driver_right_column_list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.driver_right_column_list ul li {
  border-radius: 16px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #EDF2F7;
  backdrop-filter: blur(8px);
  margin-bottom: 8px;
}

.driver_right_column_list ul li p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #171923;
  padding-left: 3px;
}


.driver__right_item {
  max-width: 300px;
  width: 100%;
  display: flex;
  height: 100%;
}

.driver__right_item img {
  border-radius: 32px;
  display: flex;
}

.driver_right_column_list {
  max-width: 251px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.driver_img_right_block {
  max-width: 54px;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 12px;
}


.driver_btn_dawn_arrow {
  max-width: 48px;
  width: 100%;
  height: 48px;
  background: url(/assets/img/arrow_dawn_icon.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}




/* ===== personal_account_buyer ===== */

.personal_account_buyer_wrapp {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
  background-color: #EDF2F7;
}

.personal_account_buyer_title {
  max-width: 550px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 42px;
}

.personal_account_buyer_title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
}

.personal_account_buyer_title p {
  padding-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #1A202C;
}
